footer
  .container
    .row
      .col-6
        p Copyright 2017 Display. All rights reserved.
      .col-6
        nav
          p
            a(href="/") Home
            a(href="/about.html") About
            a(href="/work.html") Work
            a(href="/contact.html") Contact
script(src="app.js")
