header
  .container
    .row
        .col-2.logo
            a(href="/")
                img(src="assets/logo.png" alt="Logo")
        .col-10.social-links
          a.icon(href="#")
            i.fa.fa-twitter
          a.icon(href="#")
            i.fa.fa-facebook
          a.icon(href="#")
            i.fa.fa-rss
          a.icon(href="#")
            i.fa.fa-pinterest
          a.icon(href="#")
            i.fa.fa-google-plus
          a.icon(href="#")
            i.fa.fa-dribbble

