doctype
html
  head(lang="en")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    block title
    link(href="https://fonts.googleapis.com/css?family=Montserrat:300,400"
    rel="stylesheet")
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet")
    link(href="main.css" rel="stylesheet")
  body
    include header.pug
    include nav.pug
    block content
    include info.pug
    include footer.pug
